* {
    box-sizing: border-box;
}
.navbar {
    background-color: #f1f1f1;
    float: left;
    width: auto;
    position: relative; 
}

.main-content {
    border: 1px solid black;
}

.border {
    border: 1px solid black;
}

.logo-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.navbar-button {
    width: 250px;
    padding: 10px;
    display: block;
    text-decoration: none; /* Removes the underline */
    color: black; /* Changes the link color to black */
}

.active-button {
    /* Inverts the color of the button */
    background-color: #333;
    color: #fff;
}
